.home {
    color: #333;
    font-size: 2rem;
    margin: 20px 0 0 70px;
}

.time-card {
    margin: 20px 0 0 70px;
    width: 200px; /* Adjust the width of the TimeCard */
}

/* .dashboard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    margin: 30px 0 0 70px;
    gap: 50px; 
} */

.row {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: whitesmoke;
    justify-content: center;
}

/* .bus {
    display: flex;
    flex-direction: column;
    margin: 30px 1000px 0 70px;
} */

.bus {
    width: 70%;
    margin: 30px auto 0 auto;
}

.spintex, .bus {
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    background-color: whitesmoke;
}

.row {
    margin: auto;
    width: 90%;
}