/* for Vehicles.jsx */
.vehicle-record {
    display: flex;
    flex-direction: row;;
}
.vehicles {
    margin: 40px 0 0 70px;
    width: 50%;
}
.custom-form {
    padding:0;
    width:20%;
    margin: 50px 70px 0 130px;
}

/* for Vehicle.jsx */
.vehicle-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}
.block-item {
    display: flex;
    flex-direction: row;
    gap: 20px
}