.home {
    color: #333;
    margin-top: 20px;
    margin-left: 70px;
    font-size: 2rem;
}

.test {
    margin-top: 70px;
    margin-left: 70px;
}

.copy {
    margin-top: 50px;
    margin-left: 70px;
}