.home {
    color: #333;
    margin-top: 20px;
    margin-left: 70px;
    font-size: 2rem;
}

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    /* background-color: aquamarine; */
    margin: 70px; 
    gap: 50px; /* Adjust the gap between cards */
}